/.ropeproject/
/nbproject/
/__pycache__/
/qgis-env/
/qgis-env/lib/python3.12/site-packages/pip/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_internal/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_internal/cli/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_internal/commands/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_internal/distributions/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_internal/index/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_internal/locations/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_internal/metadata/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_internal/metadata/importlib/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_internal/models/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_internal/network/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_internal/operations/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_internal/operations/build/
/qgis-env/lib/python3.12/site-packages/pip/_internal/operations/install/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_internal/req/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_internal/resolution/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_internal/resolution/legacy/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_internal/resolution/resolvelib/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_internal/utils/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_internal/vcs/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/cachecontrol/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/cachecontrol/caches/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/certifi/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/chardet/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/chardet/cli/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/chardet/metadata/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/colorama/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/colorama/tests/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/distlib/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/distro/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/idna/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/msgpack/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/packaging/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/pkg_resources/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/platformdirs/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/pygments/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/pygments/filters/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/pygments/formatters/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/pygments/lexers/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/pygments/styles/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/pyparsing/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/pyparsing/diagram/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/pyproject_hooks/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/pyproject_hooks/_in_process/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/requests/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/resolvelib/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/resolvelib/compat/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/rich/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/tenacity/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/tomli/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/truststore/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/urllib3/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/urllib3/contrib/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/urllib3/contrib/_securetransport/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/urllib3/packages/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/urllib3/packages/backports/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/urllib3/util/__pycache__/
/qgis-env/lib/python3.12/site-packages/pip/_vendor/webencodings/__pycache__/
/qgis-venv/
/dist/
/qgis_osrm.zip
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/
help/build/

# PyBuilder
target/

# PyQt generated files
resources.py

# Others
todo.txt
